
.item{
  position: absolute;
  user-select: none; 



  border-color: transparent;
  
  border-radius: 8px;
}

.item-content{
  border: 2px solid;
  border-radius: 8px;
}

.activity-item{
  background-color: cadetblue;
}



.joint-item{
  background-color: darkolivegreen;
  border-radius: 20px;
}

.joint-item .item-content{
  border-radius: 20px;
}