

.container{
  display: flex;
  flex-direction: column;
  
  height: calc(100vh);
  margin:0;
  padding:0;
}

.header{
  height:20px;
}

.page-content{
  display:flex;
  flex-direction: row;
  height: 100%;
}

.left-menu{
  width: 300px;
}

.content{
  width: 100%; 
  overflow: auto;

  background: linear-gradient(0deg, gray 1%, transparent 0%);
  background-size: 1px 140px;
  background-color: darkslategrey;
  background-attachment: local;
}

.designer-container{
  position: relative;
  background-color: coral;
}

.left-menu{
  display: flex;
  flex-direction: column;
}

.menu-container{
  background-color: whitesmoke;
  flex-grow: 1;
}

.button-container{
  padding: 0 20px 60px 20px;
}

.button-container button{
  width: 100%;
  background-color: cornflowerblue;
  border: 1px solid black;
  height: 40px;
  border-radius: 1px;
}