

.container{
  display: flex;
  flex-direction: column;
  
  height: calc(100vh);
  margin:0;
  padding:0;
}

.header{
  height:20px;
}

.page-content{
  display:flex;
  flex-direction: row;
  height: 100%;
}

.left-menu{
  width: 300px;
}

.content{
  width: 100%;
  background-color:darkslategrey;
 
  overflow: auto;
}

.designer-container{
  position: relative;
  background-color: coral;
}

